{% extends 'grades/base.html' %}
{% load static %}
{% block content %}
    <div id="content">
        <h2>Список заметок</h2>
        {% if notes %}
            {% for item in notes %}
                <p>{{ item.text }}</p>
                <p class="post"><a href="{% url 'remove_note' item.id %}" class="readmore">Удалить запись</a>
                    <span class="date">{{ item.created_at }}</span>
                </p>
            {% endfor %}
        {% else %}
            <p class="my-note">нет заметок</p>
        {% endif %}
    </div>
{% endblock %}