{% extends 'grades/base.html' %}
{% load static %}
{% block content %}
    <div id="content">
        <h2>Авторизация</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <table cellpadding="3">
                <tr>
                    <td>Ваш логин</td>
                    <td>Ваш пароль</td>
                </tr>
                <tr>
                    <td>{{ form.username }}</td>
                    <td>{{ form.password }}</td>
                </tr>

            </table>
            <input type="submit" value="Вход"/>
        </form>
        {% if messages or form.non_field_errors %}
            {% if messages %}
                {% for message in messages %}
                    <blockquoteg>{{ message }}</blockquoteg>
                {% endfor %}
            {% else %}
                <blockquote>{{ form.non_field_errors }}</blockquote>
            {% endif %}

        {% endif %}
        <h2></h2>
        <p><br><br><br></p>
    </div>
{% endblock %}